@import 'src/app/shared/style/variables';

$blackout-slider:linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);

:host {
    display: flex;
    height: 100%;

    .slide-item {
        background: $blackout-slider;
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        padding: 0 6rem;
        color: $font-color;
        .slide-item__title {
            font-size: 2.5em;
            font-weight: 500;
            margin-bottom: 0.5rem;
            word-break: break-word;
        }
        .slide-item__subtitle {
            font-size: 1.5em;
            font-weight: 300;
            margin-bottom: 2rem;
            word-break: break-word;
        }
        button {
            align-self: flex-start;
        }
    }
}

@media screen and (max-width: 1439px) {
    :host {
        .slide-item {
            padding: 0 4rem;
        }
    }
}
