<form [formGroup]="additionallyForm">
  <ul>
    <li>
      <p class="service-header">Цвет</p>
      <div class="additionally-item color-block" *ngIf="car">
        <input type="radio" value="Любой" formControlName="color" id="any" />
        <label for="any"> Любой </label>
        <ng-container *ngFor="let carColor of car.colors">
          <input type="radio" [value]="carColor" formControlName="color" [id]="carColor" />
          <label [for]="carColor"> {{ carColor }} </label>
        </ng-container>
      </div>
    </li>
    <li>
      <p class="service-header">Дата аренды</p>
      <div class="additionally-item date-block">
        <label *ngFor="let input of dateInput">
          <span>{{ input.label }}</span>
          <mat-form-field>
            <mat-label> {{ input.matLabel }} </mat-label>
            <input
              matInput
              type="text"
              [formControlName]="input.controlName"
              [showMaskTyped]="maskedVisible"
              (focus)="maskedVisible = true"
              (focusout)="maskedVisible = false"
              [validation]="true"
              [dropSpecialCharacters]="false"
              mask="d0.m0.0000 Hh:m0"
              placeholder="Выберите дату"
              autocomplete="none"
            />
            <!--            todo: Сделай сеттер-->
            <mat-error
              *ngIf="
                additionallyForm.get(input.controlName)?.errors?.mask ||
                additionallyForm.get(input.controlName)?.errors?.invalidDate
              "
            >
              Введите корректную дату.
            </mat-error>
            <mat-error *ngIf="additionallyForm.get(input.controlName)?.errors?.irrelevantDate">
              Введите дату не раньше сегодняшей.
            </mat-error>
            <mat-error *ngIf="additionallyForm.get(input.controlName)?.errors?.afterDate">
              Дата начала аренды превышает дату конца аренды.
            </mat-error>
            <mat-error *ngIf="additionallyForm.get(input.controlName)?.errors?.enterStartDate">
              Сначала дату аренды.
            </mat-error>
          </mat-form-field>
        </label>
      </div>
    </li>
    <li>
      <p class="service-header">Тариф</p>
      <div class="additionally-item">
        <div class="additionally-item__value" *ngFor="let input of serviceInputs">
          <input type="radio" [id]="input.id" [value]="input.value" formControlName="rate" />
          <label [for]="input.id"> {{ input.labelValue }} </label>
        </div>
      </div>
    </li>
    <li>
      <p class="service-header">Доп услуги</p>
      <div class="additionally-item">
        <div class="additionally-item__value" *ngFor="let input of additionalInputs">
          <input
            type="checkbox"
            [id]="input.id"
            [value]="input.value"
            formControlName="additionally"
          />
          <label [for]="input.id">{{ input.labelValue }} </label>
        </div>
      </div>
    </li>
  </ul>
</form>
