<form [formGroup]="additionallyForm">
  <ul>
    <li>
      <p class="service-header">Цвет</p>
      <div class="additionally-item color-block" *ngIf="carColors | async">
        <input type="radio" value="Любой" formControlName="color" id="any" />
        <label for="any"> Любой </label>
        <ng-container *ngFor="let carColor of carColors | async">
          <input type="radio" [value]="carColor" formControlName="color" [id]="carColor" />
          <label [for]="carColor"> {{ carColor }} </label>
        </ng-container>
      </div>
    </li>
    <li>
      <p class="service-header">Дата аренды</p>
      <div class="additionally-item date-block">
        <label *ngFor="let input of dateInput">
          <span>{{ input.label }}</span>
          <mat-form-field>
            <mat-label> {{ input.matLabel }} </mat-label>
            <input
              matInput
              type="text"
              [formControlName]="input.controlName"
              [showMaskTyped]="maskedVisible"
              (focus)="maskedVisible = true"
              (focusout)="maskedVisible = false"
              [validation]="true"
              [dropSpecialCharacters]="false"
              mask="d0.m0.0000 Hh:m0"
              placeholder="Выберите дату"
              autocomplete="none"
            />
            <mat-error *ngFor="let error of errors">
              <span *ngIf="formError(input.controlName, error.condition)">{{ error.value }}</span>
            </mat-error>
          </mat-form-field>
        </label>
      </div>
    </li>
    <li>
      <p class="service-header">Тариф</p>
      <div class="additionally-item" *ngIf="rateIdArray | async">
        <div class="additionally-item__value" *ngFor="let input of rateIdArray | async">
          <input
            type="radio"
            [id]="input.rateTypeId.unit"
            [value]="input"
            formControlName="rateId"
          />
          <label [for]="input.rateTypeId.unit">
            {{ input.rateTypeId.name }}, {{ input.price }}₽/{{ input.rateTypeId.unit }}</label
          >
        </div>
        <div class="mat-error">
          <span *ngIf="rateIdControl.errors">Выберите дату, кратную дню.</span>
        </div>
      </div>
    </li>
    <li>
      <p class="service-header">Доп услуги</p>
      <div class="additionally-item">
        <div class="additionally-item__value" *ngFor="let input of additionalInputs">
          <input
            type="checkbox"
            [id]="input.id"
            [value]="input.value"
            [formControl]="additionallyForm.get(input.id)"
          />
          <label [for]="input.id">{{ input.labelValue }} </label>
        </div>
      </div>
    </li>
  </ul>
</form>
