<form [formGroup]="additionallyForm">
  <ul>
    <li>
      <p class="service-header">Цвет</p>
      <div class="additionally-item color-block">
        <ng-container *ngFor="let input of colorInputs">
          <input type="radio" [value]="input.value" formControlName="color" [id]="input.id" />
          <label [for]="input.id"> {{ input.labelValue }} </label>
        </ng-container>
      </div>
    </li>

    <li>
      <p class="service-header">Дата аренды</p>
      <div class="additionally-item date-block">
        <label *ngFor="let input of dateInput">
          <span>{{ input.label }}</span>
          <mat-form-field>
            <mat-label> {{ input.matLabel }} </mat-label>
            <input
              matInput
              [formControlName]="input.controlName"
              type="text"
              [showMaskTyped]="maskedVisible"
              (focus)="maskedVisible = true"
              (focusout)="maskedVisible = false"
              [validation]="true"
              mask="d0.M0.00, Hh:m0"
              placeholder="Выберите дату"
              autocomplete="none"
            />
          </mat-form-field>
        </label>
      </div>
    </li>

    <li>
      <p class="service-header">Тариф</p>
      <div class="additionally-item">
        <div class="additionally-item__value" *ngFor="let input of serviceInputs">
          <input type="radio" [id]="input.id" [value]="input.value" formControlName="rate" />
          <label [for]="input.id"> {{ input.labelValue }} </label>
        </div>
      </div>
    </li>

    <li>
      <p class="service-header">Доп услуги</p>
      <div class="additionally-item">
        <div class="additionally-item__value" *ngFor="let input of additionalInputs">
          <input
            type="checkbox"
            [id]="input.id"
            [value]="input.value"
            formControlName="additionally"
          />
          <label [for]="input.id">{{ input.labelValue }} </label>
        </div>
      </div>
    </li>
  </ul>
</form>
