<div class="admin-card-title">Карточка автомобиля</div>
<div class="admin-page-wrapper">
  <app-car-image-setting
    [car]="car"
    [photoAndDescriptionForm]="carForm.get('photoAndDescription')"
    [progressValue]="progressValue"
    [name]="carForm.get('properties').value.name"
    [type]="carForm.get('properties').value.type?.name"
  ></app-car-image-setting>
  <app-car-properties-setting
    [carPropertiesForm]="carForm.get('properties')"
    [car]="car"
    (save)="saveCar()"
    (create)="createCar()"
  ></app-car-properties-setting>
</div>
<div class="spinner-container" *ngIf="showSpinner">
  <app-spinner [show]="showSpinner" color="primary"></app-spinner>
</div>
