:host {
  width: 100%;
  background: white;

  .order-sharing-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    .order-id {
      height: 32px;
      border-top: 1px solid #eeeeee;
      border-bottom: 1px solid #eeeeee;
      display: flex;
      align-items: center;
      font-size: 14px;
      font-weight: 700;
      padding: 0 24px;
    }
    app-order-info {
      padding: 0 24px 24px 24px;
    }
  }
}
