@import 'src/app/shared/style/variables';

header {
    display: flex;
    justify-content: space-between;

    .mat-sidenav__open-button {
        display: none;
    }

    .header-content {
        display: flex;
        justify-content: space-between;
        width: 100%;
        .info-header__logo {
            font-size: 1.875rem;
            font-weight: bold;
            color: $accent-color;
        }

        .info-header__location-block {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .location-block__item {
                color: $gray-color;
                margin: 0 8px;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    header {
        padding: 1rem;
        align-items: baseline;
        .mat-sidenav__open-button {
            display: block;
        }
        .header-content {
            flex-direction: column;
            align-items: flex-end;
        }
    }
}
