<div class="car-type">
  <div class="car-type__item" *ngFor="let input of carTypeInputs">
    <input type="radio" id="{{ input.id }}" [value]="input.value" [formControl]="carCategory" />
    <label for="{{ input.id }}"> {{ input.labelValue }} </label>
  </div>
</div>
<form [formGroup]="form" class="car-models">
  <ng-container *ngFor="let car of cars | async | filterCar: (category | async)">
    <input id="{{ car.name }}" type="radio" formControlName="carModel" [value]="car" />
    <label for="{{ car.name }}" class="car-radio">
      <app-car-model [carModel]="car"></app-car-model>
    </label>
  </ng-container>
</form>
