<app-header class="order-header"></app-header>

<mat-grid-list [cols]="breakpoint" rowHeight="35px">
  <mat-grid-tile colspan="3" rowspan="17" class="order-list">
    <router-outlet (activate)="routerComponentEvents($event)"></router-outlet>
  </mat-grid-tile>

  <mat-grid-tile
    colspan="1"
    rowspan="1"
    class="mat-horizontal-stepper-header-container"
  ></mat-grid-tile>

  <mat-grid-tile [colspan]="breakpoint === 4 ? 1 : 3" rowspan="17" class="order-properties">
    <app-order-properties
      [order]="order"
      [isReady]="isReady"
      (nextStepTrigger)="nextStep()"
      (sendOrder)="postOrder()"
      (cancelBtnTrigger)="cancelOrder()"
    ></app-order-properties>
  </mat-grid-tile>
</mat-grid-list>
