@import 'src/app/shared/style/variables';
@import 'src/app/shared/style/stepper';

:host {
  width: 100%;
  padding: 2rem 4rem;
  background: white;
  overflow: hidden;
}

.wrapper {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.order-list {
  height: 100%;
}

.wrapper-content {
  display: flex;
  flex-direction: column;
}

app-order-properties {
  height: 100%;
  width: 287px;
  border: {
    left: 1px solid $light-gray-color;
  }
}

@media screen and (max-width: 767px) {
  :host {
    padding: 0;
  }
  mat-grid-list {
    overflow-y: scroll;
    height: 100% !important;
  }
  mat-grid-tile {
    width: 100% !important;
  }
  .order-properties {
    border: none;
  }
}
