<app-header class="order-header"></app-header>

<div class="spinner-wrapper" *ngIf="showProcess">
  <mat-spinner color="warn"></mat-spinner>
</div>

<div class="wrapper">
  <div class="wrapper-content">
    <router-outlet (activate)="routerComponentEvents($event)"></router-outlet>
  </div>

  <div class="order-property">
    <div class="mat-horizontal-stepper-header-container"></div>
    <app-order-properties
      [order]="order"
      [isReady]="isReady"
      (nextStepTrigger)="nextStep()"
      (sendOrder)="postOrder()"
      (cancelBtnTrigger)="cancelOrder()"
    ></app-order-properties>
  </div>
</div>
