@import '../../../../../shared/style/variables';

:host {
  min-width: 688px;
}

swiper {
  width: 100%;
}

@media screen and (max-width: 1439px) {
  :host {
    min-width: 410px;
    font-size: 13px;
  }
}

@media screen and (max-width: 1023px) {
  :host {
    display: none;
  }
}
