<form [formGroup]="carModelForm">
  <div class="car-type">
    <div class="car-type__item">
      <input type="radio" id="all" value="Все" formControlName="carCategory" />
      <label for="all"> Все модели </label>
    </div>
    <div class="car-type__item">
      <input type="radio" id="economy" value="Эконом" formControlName="carCategory" />
      <label for="economy"> Эконом </label>
    </div>
    <div class="car-type__item">
      <input type="radio" id="premium" value="Премиум" formControlName="carCategory" />
      <label for="premium"> Премиум </label>
    </div>
  </div>
  <div class="car-models">
    <ng-container *ngFor="let car of cars | async | filterCar: category; let i = index">
      <input id="car{{ i }}" type="radio" formControlName="carModel" [value]="car" />
      <label for="car{{ i }}" class="car-radio">
        <app-car-model [carModel]="car"></app-car-model>
      </label>
    </ng-container>
  </div>
</form>
