<button (click)="sideNavClose.emit()" class="mat-sidenav__close-button">
  <fa-icon [icon]="faTimes"></fa-icon>
</button>
<div class="side-nav__item">
  <ul class="mat-sidenav__list">
    <li class="mat-sidenav__list-item" routerLink="../order" (click)="sideNavClose.emit()">
      ПАРКОВКА
    </li>
    <li class="mat-sidenav__list-item" routerLink="../order" (click)="sideNavClose.emit()">
      СТРАХОВКА
    </li>
    <li class="mat-sidenav__list-item" routerLink="../order" (click)="sideNavClose.emit()">
      БЕНЗИН
    </li>
    <li class="mat-sidenav__list-item" routerLink="../order" (click)="sideNavClose.emit()">
      ОБСЛУЖИВАНИЕ
    </li>
  </ul>
  <div class="shared-buttons">
    <button *ngFor="let social of socials">
      <fa-icon [icon]="social"></fa-icon>
    </button>
  </div>
</div>
