@import 'src/app/shared/style/global';

:host {
  display: block;
  @include admin-card;
  padding: 8px;
}

.admin-card-title {
  color: rgba(61, 81, 112, 1);
  font-weight: 500;
  font-size: 18px;
  padding-bottom: 16px;
}

.admin-section-title {
  color: #3d5170;
  font-size: 29px;
  margin-bottom: 30px;
  @media screen and (max-width: 1439px) {
    font-size: 20px;
    margin-bottom: 15px;
  }
}

.setting-form {
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
}

.buttons-container mat-form-field {
  margin-right: 8px;
}

.sort-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: baseline;
  mat-form-field {
    font-size: 12px;
  }
}

.actions {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  button {
    margin-left: 16px;
  }
}

.progress {
  font-size: 13px;
  margin-bottom: 13px;
  .title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: rgba(134, 142, 150, 1);
  }
  mat-progress-bar {
    border-radius: 5px;
    height: 4px;
  }
}

table {
  width: 100%;
}

.search-title {
  font-size: 14px;
  margin: 0 0 8px 8px;
  font-weight: 500;
  color: $main-black-color;
}
