@import '../../../../../../shared/style/global';

:host {
  overflow-y: auto;
  font-size: 14px;

  .car-type {
    display: flex;
    margin-bottom: 48px;
    .car-type__item {
      display: flex;
      margin-left: 16px;
      align-items: center;
    }
  }

  .car-models {
    display: flex;
    flex-wrap: wrap;

    input {
      display: none;
      &:checked + label {
        app-car-model {
          border: 1px solid $accent-green;
        }
      }
    }
  }
}

@media screen and (max-width: 599px) {
  .car-type {
    flex-direction: column;
  }

  .car-radio {
    width: 100%;
    margin: 1px 0;
    padding: 0 8px;
  }
}
