<form [formGroup]="form">
  <label class="form__item">
    <span class="form-label"> Город </span>
    <mat-form-field>
      <mat-label>Поле города</mat-label>
      <input
        type="text"
        matInput
        placeholder="Начните вводить город..."
        formControlName="city"
        [matAutocomplete]="cityAutocomplete"
        #cityInput
      />
      <button matSuffix mat-icon-button (click)="clearValue('city')">
        <mat-icon>close</mat-icon>
      </button>
      <mat-autocomplete autoActiveFirstOption #cityAutocomplete>
        <mat-option
          *ngFor="let city of cities | autocomplete: cityInput.value:'name'"
          [value]="city.name"
          (onSelectionChange)="citySelected(city, $event)"
        >
          {{ city.name }}
        </mat-option>
      </mat-autocomplete>
      <mat-hint *ngIf="!cities">Загрузка городов...</mat-hint>
      <mat-error *ngIf="formError('city', 'required')">Поле обязательно!</mat-error>
      <mat-error *ngIf="formError('city', 'invalidAutocomplete')"
        >Выберите город из выпадающего списка</mat-error
      >
    </mat-form-field>
  </label>

  <label class="form__item">
    <span class="form-label">Пункт выдачи </span>
    <mat-form-field>
      <mat-label>Поле пункта выдачи</mat-label>
      <input
        type="text"
        matInput
        placeholder="Начните вводить пункт..."
        formControlName="pickupPoint"
        [matAutocomplete]="pointAutocomplete"
        #pointInput
      />
      <button matSuffix mat-icon-button (click)="clearValue('pickupPoint')">
        <mat-icon>close</mat-icon>
      </button>
      <mat-autocomplete autoActiveFirstOption #pointAutocomplete>
        <mat-option
          *ngFor="let point of points$ | async | autocomplete: pointInput.value:'address'"
          [value]="point.address"
          (onSelectionChange)="onAddressSelect(point, $event)"
        >
          {{ point.address }}
        </mat-option>
      </mat-autocomplete>
      <mat-hint *ngIf="(points$ | async) === false">Загрузка пукнтов выдачи...</mat-hint>
      <mat-error *ngIf="formError('pickupPoint', 'required')">Поле обязательно!</mat-error>
      <mat-error *ngIf="formError('pickupPoint', 'invalidAutocomplete')"
        >Выберите пункт из выпадающего списка</mat-error
      >
    </mat-form-field>
  </label>
</form>

<span class="select-on-map">Выбрать на карте:</span>

<agm-map
  *ngIf="coords$ | async; let coords"
  [styles]="mapStyle"
  [latitude]="coords.lat"
  [longitude]="coords.lng"
  [zoom]="zoom"
>
  <agm-marker
    *ngFor="let point of points$ | async"
    [longitude]="point.coords.lng"
    [latitude]="point.coords.lat"
    [iconUrl]="'assets/marker-icon.svg'"
    (markerClick)="markerClick(point)"
  ></agm-marker>
</agm-map>
