@import 'variables';

@mixin button($color, $secondColor: $color) {
  color: $font-color;
  border-radius: 8px;
  border: none;
  padding: 15px 48px 11px;
  background: linear-gradient(90deg, darken($color, 0%), darken($secondColor, 0%));
  &:hover {
    outline: none;
    background: linear-gradient(90deg, darken($color, 10%), darken($secondColor, 10%));
  }
  &:active {
    background: linear-gradient(90deg, darken($color, 20%), darken($secondColor, 20%));
    outline: none;
  }
}

.green-background {
  @include button(rgba(19, 73, 63, 1), rgba(12, 123, 27, 1));
}
.blue-background {
  @include button(rgba(19, 41, 73, 1), rgba(12, 123, 103, 1));
}
.red-background {
  @include button(rgba(73, 48, 19, 1), rgba(123, 12, 59, 1));
}
.violet-background {
  @include button(rgba(40, 19, 73, 1), rgba(114, 12, 123, 1));
}

.accent-button {
  @include button($accent-color);
}

button {
  background: none;
  border: none;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

.disabled {
  background: $light-gray-color;
  &:hover {
    background: $light-gray-color;
    outline: none;
    cursor: not-allowed;
  }
}

ul {
  list-style: none;
  padding: 0;
}

div.cdk-global-overlay-wrapper {
  background: rgba(255, 255, 255, 0.9);
}

mat-dialog-container.mat-dialog-container {
  box-shadow: none;
  background: none;
}

div .mat-form-field-infix {
  border: 0;
}
