@import 'variables';

@mixin button($color, $secondColor: $color) {
  color: $font-color;
  border-radius: 8px;
  border: none;
  padding: 15px 48px 11px;
  background: linear-gradient(90deg, darken($color, 0%), darken($secondColor, 0%));
  &:hover,
  &:focus {
    outline: none;
    background: linear-gradient(90deg, darken($color, 10%), darken($secondColor, 10%));
  }
  &:active {
    background: linear-gradient(90deg, darken($color, 20%), darken($secondColor, 20%));
    outline: none;
  }
}

.green-background {
  @include button(rgba(19, 73, 63, 1), rgba(12, 123, 27, 1));
}
.blue-background {
  @include button(rgba(19, 41, 73, 1), rgba(12, 123, 103, 1));
}
.red-background {
  @include button(rgba(73, 48, 19, 1), rgba(123, 12, 59, 1));
}
.violet-background {
  @include button(rgba(40, 19, 73, 1), rgba(114, 12, 123, 1));
}

.accent-button {
  @include button($accent-color);
}

button {
  background: none;
  border: none;
  &:focus {
    outline: none;
  }
}

input[type='radio'] {
  &:focus {
    outline: none;
  }
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid $gray-color;
  cursor: pointer;
  display: inline-block;
  height: 15px;
  position: relative;
  width: 15px;
  margin: {
    top: 0;
    right: 8px;
  }
  -webkit-appearance: none;
}

input[type='radio']:checked {
  background-color: #ffffff;
  border: 4px solid $accent-color;
  outline: none;
}

input[type='radio'] {
  &:checked + label {
    color: $main-black-color;
  }
}

input[type='radio'] + label {
  color: $gray-color;
}

input[type='checkbox'] {
  &:checked + label {
    color: $main-black-color;
  }
}

input[type='checkbox'] + label {
  color: $gray-color;
}
