<form [formGroup]="locationForm">
    <div class="form__item">
        <span> Город: </span>
        <mat-form-field>
            <mat-label>Поле города</mat-label>
            <input
                type="text"
                matInput
                placeholder="Начните вводить город..."
                formControlName="city"
                [matAutocomplete]="cityAutocomplete"
            />
            <mat-autocomplete autoActiveFirstOption #cityAutocomplete>
                <mat-option
                    *ngFor="let city of filteredOptions | async"
                    [value]="city.name"
                    (onSelectionChange)="citySelected(city)"
              >
                    {{ city.name }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>

    <div class="form__item">
        <span> Пункт выдачи: </span>
        <mat-form-field>
            <mat-label>Поле пункта выдачи</mat-label>
            <input
                type="text"
                matInput
                placeholder="Начните вводить пункт..."
                formControlName="pickupPoint"
                [matAutocomplete]="pointAutocomplete"
            />
            <mat-autocomplete autoActiveFirstOption #pointAutocomplete>
                <mat-option
                    *ngFor="let point of filteredOptionsPoints | async"
                    [value]="point.address"
                    (onSelectionChange)="addressSelect(point)"

                >
                    {{ point.address }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>
</form>

<agm-map
    *ngIf="coords"
    [styles]="mapStyle"
    [latitude]="coords.lat"
    [longitude]="coords.lng"
    [zoom]="11"
    [fitBounds]="bounds">
<agm-marker *ngFor="let point of pointCoords" [longitude]="point.lng" [latitude]="point.lat"></agm-marker>
</agm-map>
