@import '../../../../shared/style/variables';

:host {
  height: 100%;
  background: $dark-background;
  min-width: 64px;

  .side-bar__menu-button {
    position: absolute;
    color: $font-color;
    top: 31px;
    left: 25px;
  }

  .side-bar__language-change-button {
    position: absolute;
    bottom: 24px;
    color: $accent-green;
    border-radius: 50%;
    cursor: pointer;
    height: 38px;
    width: 38px;
    padding: 0;
    z-index: 3;
    &:hover {
      border: 2px solid $font-color;
      color: $font-color;
    }
    &:active {
      border: 2px solid $font-color;
    }
  }
}

@media screen and (max-width: 767px) {
  :host {
    height: 0;
    width: 0;
    min-width: 0;
    .side-bar__menu-button {
      color: $main-black-color !important;
    }
    .side-bar__language-change-button {
      left: -38px;
    }
    .mat-drawer-container-has-open {
      .side-bar__language-change-button {
        left: 10px;
      }
    }
  }
}
