<form class="search" [formGroup]="searchRoutesForm">
  <mat-icon>search</mat-icon>
  <input
    type="text"
    placeholder="Поиск..."
    class="search-input"
    formControlName="search"
    [matAutocomplete]="routesAutocomplete"
  />
  <mat-autocomplete autoActiveFirstOption #routesAutocomplete>
    <mat-option
      *ngFor="
        let route of routes | autocomplete: searchRoutesForm.get('search').value:'textContent'
      "
      (onSelectionChange)="routeSelected(route, $event)"
    >
      {{ route.textContent }}
    </mat-option>
  </mat-autocomplete>
</form>
<div class="icon">
  <mat-divider [vertical]="true"></mat-divider>
  <button mat-icon-button (click)="notifyTrigger$.next()">
    <mat-icon
      class="notification"
      matBadgeColor="warn"
      [matBadge]="orderLength"
      matBadgeSize="small"
      matBadgePosition="after"
      >notifications</mat-icon
    >
  </button>
  <app-spinner [show]="showNotifySpinner" diameter="15" color="warn"></app-spinner>
  <mat-divider [vertical]="true"></mat-divider>
</div>
<div class="user-details">
  <div class="user-info">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJJtSRD1xIfsdN9pGP0sWjp9yojjBlniyqEA&usqp=CAU"
      class="user-avatar"
      alt=""
    />
    <span class="user-name">Admin</span>
  </div>
  <button mat-icon-button>
    <mat-icon [matMenuTriggerFor]="menu">arrow_drop_down</mat-icon>
  </button>
</div>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
    <span>Logout</span>
  </button>
</mat-menu>
<app-spinner [show]="showLogoutSpinner" color="primary"></app-spinner>
