@import '../../../../../shared/style/variables';

:host {
  font-size: 14px;

  input[type='checkbox'] {
    margin-right: 8px;
  }

  .color-block {
    display: flex;
    align-items: center;
    flex-direction: row;

    label {
      margin-right: 16px;
    }
  }

  ul {
    list-style: none;
    padding: 0;

    .service-header {
      color: $main-black-color;
      margin: {
        top: 32px;
        bottom: 16px;
      }
    }

    .additionally-item {
      display: flex;
      flex-direction: column;

      .additionally-item__value {
        display: flex;
        &:not(:last-child) {
          margin-bottom: 8px;
        }
      }
    }

    .date-block {
      width: 100%;
      label {
        width: 205px;
        display: flex;
        justify-content: flex-end;
        align-items: baseline;

        span {
          margin-right: 8px;
        }
      }
    }
  }
}
