<span class="order-title">Ваш заказ:</span>
<ul class="order-properties">
  <li class="order-properties_item" *ngIf="point">
    <span class="item-title"> Пункт выдачи </span>
    <div class="dotted-spacer"></div>
    <span class="item_sub">{{ point.address }}</span>
  </li>

  <li class="order-properties_item" *ngIf="car">
    <span class="item-title"> Модель </span>
    <div class="dotted-spacer"></div>
    <span class="item_sub">{{ car.name }}</span>
  </li>
</ul>

<span class="order-price" *ngIf="car">
  <span class="price-title">Цена:</span>
  <span class="price-value"> от {{ car.priceMin }} до {{ car.priceMax }}</span>
</span>
<button (click)="nextStep()" class="accent-button" [disabled]="!point" [class.disabled]="!point">
  {{ buttonContent }}
</button>
