<span class="order-title">Ваш заказ:</span>
<ul class="order-properties" *ngIf="order">
  <li class="order-properties_item" *ngIf="order.pointId">
    <span class="item-title"> Пункт выдачи </span>
    <div class="dotted-spacer"></div>
    <span class="item_sub">{{ order.pointId.address }}</span>
  </li>

  <li class="order-properties_item" *ngIf="order.carId">
    <span class="item-title"> Модель </span>
    <div class="dotted-spacer"></div>
    <span class="item_sub">{{ order.carId.name }}</span>
  </li>

  <li class="order-properties_item" *ngIf="order.carId">
    <span class="item-title"> Цвет </span>
    <div class="dotted-spacer"></div>
    <span class="item_sub">{{ order.color }}</span>
  </li>
</ul>

<span class="order-price" *ngIf="car">
  <span class="price-title">Цена:</span>
  <span class="price-value"> от {{ car.priceMin }} до {{ car.priceMax }}</span>
</span>
<button (click)="nextStep()" class="accent-button" [disabled]="!point" [class.disabled]="!point">
  {{ buttonContent }}
</button>
