<ng-container *ngIf="order">
  <span class="order-title">Ваш заказ:</span>
  <ul class="order-properties">
    <li class="order-properties_item" *ngIf="order.pointId">
      <span class="item-title"> Пункт выдачи </span>
      <div class="dotted-spacer"></div>
      <span class="item_sub">{{ order.pointId.address }}</span>
    </li>

    <li class="order-properties_item" *ngIf="order.carId">
      <span class="item-title"> Модель </span>
      <div class="dotted-spacer"></div>
      <span class="item_sub">{{ order.carId.name }}</span>
    </li>

    <li class="order-properties_item" *ngIf="order.carId">
      <span class="item-title"> Цвет </span>
      <div class="dotted-spacer"></div>
      <span class="item_sub">{{ order.color }}</span>
    </li>

    <li class="order-properties_item" *ngIf="leaseDuration">
      <span class="item-title"> Длительность аренды </span>
      <div class="dotted-spacer"></div>
      <span class="item_sub">
        <ng-container *ngIf="leaseDuration.day">{{ leaseDuration.day }} д. </ng-container>
        <ng-container *ngIf="leaseDuration.hour">{{ leaseDuration.hour }} ч.</ng-container>
        <ng-container *ngIf="leaseDuration.min">{{ leaseDuration.min }} мин.</ng-container>
      </span>
    </li>

    <li class="order-properties_item" *ngIf="order.isFullTank">
      <span class="item-title"> Полный бак </span>
      <div class="dotted-spacer"></div>
      <span class="item_sub">Да</span>
    </li>

    <li class="order-properties_item" *ngIf="order.isNeedChildChair">
      <span class="item-title"> Детское кресло </span>
      <div class="dotted-spacer"></div>
      <span class="item_sub">Да</span>
    </li>

    <li class="order-properties_item" *ngIf="order.isRightWheel">
      <span class="item-title"> Парвый руль </span>
      <div class="dotted-spacer"></div>
      <span class="item_sub">Да</span>
    </li>
  </ul>

  <span class="order-price" *ngIf="order.carId">
    <span class="price-title">Цена: </span>
    <span class="price-value">
      <ng-container *ngIf="order.price; then price; else range"></ng-container>
      <ng-template #price>{{ order.price }} руб.</ng-template>
      <ng-template #range>
        от {{ order.carId.priceMin }} до {{ order.carId.priceMax }}
      </ng-template>
    </span>
  </span>
  <button
    class="accent-button"
    (click)="nextStep()"
    *ngIf="order.pointId"
    [disabled]="!order.pointId"
    [class.disabled]="!order.pointId"
  >
    {{ buttonContent }}
  </button>
</ng-container>
