@import 'src/app/shared/style/variables';

:host {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    display: flex;
    justify-content: space-between;

    .mat-sidenav__open-button {
        display: none;
    }

    .header-content {
        display: flex;
        justify-content: space-between;
        width: 100%;
        .info-header__logo {
            font-size: 1.875rem;
            font-weight: bold;
            color: $accent-color;
        }

        .info-header__location-block {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .location-block__item {
                color: $gray-color;
                margin: 0 8px;
            }
        }
    }
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .info__title,
    .info__logo {
        font-size: 4.375rem;
        font-weight: 700;
    }

    .info__title {
        color: $main-black-color;
    }

    .info__logo {
        color: $accent-color;
    }

    .info__subtitle {
        font-size: 1.625rem;
        font-weight: 300;
        color: $gray-color;
        margin: 34px 0 60px;
    }
}

footer {
    display: flex;
    justify-content: space-between;
    font-size: 0.8125rem;

    .footer__privat-policy {
        color: $gray-color;
    }

    .footer__number {
        color: $main-black-color;
    }
}

@media screen and (min-width: 1440px) {
    :host {
        padding: 2rem 4rem;
        min-width: 517px;
    }
}

@media screen and (max-width: 1439px) {
    :host {
        min-width: 485px;
        padding: 2rem 2rem;
    }
}

@media screen and (max-width: 1023px) {
    :host {
        width: 100%;
        padding: 2rem 2rem;
    }
}

@media screen and (max-width: 767px) {
    :host {
        min-width: 100%;
        padding: 0;
        header {
            padding: 1rem;
            align-items: baseline;
            .mat-sidenav__open-button {
                display: block;
            }
            .header-content {
                flex-direction: column;
                align-items: flex-end;
            }
        }

        .info {
            padding: 1rem;
            height: 55%;
            .info__title,
            .info__logo {
                font-size: 32px;
            }

            .info__subtitle {
                font-size: 18px;
                margin: 1rem 0 2rem;
            }

            .info-header__logo {
                margin-bottom: 8px;
            }

            .accent-button {
                width: 100%;
                border-radius: 0;
            }
        }

        footer {
            height: 40px;
            justify-content: center;
            align-items: flex-end;
            flex-direction: column-reverse;
            background: #151b1f;
            padding: 16px;

            .footer__number {
                color: $accent-color;
                margin-bottom: 8px;
            }
        }
    }
}
//mat-sidenav-container {
//  height: 100%;
//  width: 100%;
//  mat-sidenav {
//    background: #111518;
//    .mat-sidenav__close-button {
//      position: absolute;
//      color: white;
//      top: 2rem;
//      left: 1rem;
//      font-size: 1.5rem;
//    }
//
//    .side-nav__item {
//      display: flex;
//      flex-direction: column;
//      padding-left: 20px;
//      .mat-sidenav__list {
//        font-size: 2rem;
//        color: white;
//        list-style: none;
//        padding: 0;
//        .mat-sidenav__list-item {
//          &:hover {
//            color: $accent-color;
//          }
//        }
//      }
//      .shared-buttons {
//        display: flex;
//        button {
//          margin: 0 0.5rem;
//          background: white;
//          border-radius: 50%;
//          height: 33px;
//          fa-icon {
//            font-size: 1.5rem;
//            color: #111518;
//          }
//        }
//      }
//    }
//    .side-bar__language-change-button {
//      color: $accent-color;
//      border-radius: 50%;
//      cursor: pointer;
//      position: absolute;
//      left: 20px;
//      bottom: 20px;
//    }
//  }
//  mat-sidenav-content {
//    display: flex;
//  }
//}
//
//@media screen and (max-width: 1439px) {
//  mat-sidenav {
//    min-width: 550px;
//  }
//}
//@media screen and (max-width: 1023px) {
//  mat-sidenav {
//    width: 100%;
//  }
//}
//@media screen and (max-width: 767px) {
//  mat-sidenav {
//    min-width: 95%;
//    .side-bar__language-change-button {
//      display: block;
//    }
//  }
//  .mat-sidenav__list {
//    font-size: 22px;
//    padding: 0;
//  }
//
//  .mat-sidenav__close-button {
//    top: 20px;
//    left: 20px;
//  }
//}
