@import 'src/app/shared/style/global';

:host {
  padding: 18px;
  width: 60%;
  height: 100%;
  @include admin-card;
  @media screen and (max-width: 767px) {
    width: calc(100% - 36px);
  }

  .title {
    color: rgba(61, 81, 112, 1);
    font-weight: 500;
    font-size: 18px;
    padding-bottom: 16px;
  }

  form {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 36px;
    mat-form-field {
      width: 45%;
      font-size: 13px;
      margin-right: 16px;
    }
  }
  .checkbox-group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;
    width: 100%;
    height: 48px;
    overflow: auto;
    .mat-checkbox {
      margin-right: 16px;
    }
  }

  .actions {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    button {
      margin-left: 16px;
    }
  }

  .empty-car-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .empty-car-title {
      font-weight: 500;
      font-size: 18px;
      color: rgba(61, 81, 112, 1);
      margin-bottom: 16px;
    }
    .empty-car-actions {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      button {
        margin-bottom: 8px;
      }
    }
  }
}
