<div class="admin-card-title">Настройки автомобиля</div>
<ng-container *ngIf="car; else elseBlock">
  <form [formGroup]="carPropertiesForm" class="setting-form">
    <mat-form-field appearance="outline">
      <mat-label>Тип автомобиля</mat-label>
      <mat-select formControlName="type">
        <mat-option *ngFor="let category of categories" [value]="category">
          {{ category.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" *ngFor="let input of carPropertiesInputs">
      <mat-label>{{ input.matLabel }}</mat-label>
      <input matInput placeholder="Placeholder" formControlName="{{ input.controlName }}" />
      <mat-error></mat-error>
      <mat-error>
        <span *ngIf="carPropertiesForm.get(input.controlName).errors?.oneValue">
          Введите лишь 1 значение, либо удалите пробелы.
        </span>
        <span *ngIf="carPropertiesForm.get(input.controlName).errors?.numeric">Введите число</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Доступные цвета</mat-label>
      <input matInput placeholder="Placeholder" [formControl]="colorControl" />
      <button matSuffix mat-icon-button (click)="addColor()">
        <mat-icon matSuffix>add</mat-icon>
      </button>
    </mat-form-field>
    <div class="checkbox-group">
      <mat-checkbox
        value="{{ color }}"
        *ngFor="let color of colors"
        [checked]="true"
        (click)="deleteColor(color)"
      >
        {{ color }}
      </mat-checkbox>
    </div>
  </form>

  <div class="actions">
    <button
      mat-raised-button
      color="accent"
      [disabled]="!carPropertiesForm.valid"
      (click)="saveEmit()"
    >
      Сохранить
    </button>
    <button mat-raised-button (click)="selectCar()">Отменить</button>
  </div>
</ng-container>

<ng-template #elseBlock>
  <app-admin-entity-empty
    [hasSelectEvent]="true"
    (create)="createCar()"
    (select)="selectCar()"
  ></app-admin-entity-empty>
</ng-template>
