<div class="admin-section-title">Редактирование</div>

<div class="content" *ngIf="getEntity(); else elseBlock">
  <div class="forms-container">
    <app-car-image-setting
      *ngIf="form"
      [form]="form"
      [progressValue]="progressValue"
    ></app-car-image-setting>

    <form class="setting-form" [formGroup]="form">
      <div class="properties">
        <mat-form-field
          *ngFor="let input of inputs[_entityName].inputs; let index"
          appearance="outline"
        >
          <mat-label>{{ input.matLabel }}</mat-label>
          <mat-select *ngIf="input.dataName; else elseBlock" [formControlName]="input.controlName">
            <mat-option
              *ngFor="let propertyEntity of getEntityPropertyArray() | async; let index"
              [value]="propertyEntity"
            >
              {{ propertyEntity.name }}</mat-option
            >
          </mat-select>
          <ng-template #elseBlock>
            <input matInput type="text" formControlName="{{ input.controlName }}" />
          </ng-template>
        </mat-form-field>
      </div>
      <div class="actions">
        <button mat-raised-button color="accent" [disabled]="!form.valid" (click)="save()">
          Сохранить
        </button>
        <button mat-raised-button (click)="cancel()">Отменить</button>
      </div>
    </form>
  </div>
</div>

<ng-template #elseBlock>
  <app-admin-entity-empty (create)="createEntity()"></app-admin-entity-empty>
</ng-template>

<app-spinner [show]="showSpinner"></app-spinner>
