@import 'src/app/shared/style/variables';

:host {
    display: flex;
    align-self: stretch;
    min-width: 47%;
}

swiper {
    width: 100%;
    .swiper-slide__item {
        display: flex;
        height: 100%;
        div {
            word-break: break-word;
        }
    }
}
@media screen and (max-width: 1439px) {
    :host {
        min-width: 410px;
        font-size: 13px;
    }
}
@media screen and (max-width: 1023px) {
    :host {
        display: none;
    }
}
