@import 'src/app/shared/style/variables';

:host {
    display: flex;
    align-self: stretch;
    min-width: 47%;
}

swiper {
    width: 100%;
    .swiper-slide__item {
        display: flex;
        height: 100%;
        div {
            word-break: break-word;
        }
    }
}
