<mat-sidenav-container>
    <mat-sidenav #drawer mode="over">
        <ul class="mat-sidenav__list">
            <li class="mat-sidenav__list-item">Парковка</li>
            <li class="mat-sidenav__list-item">Страховка</li>
            <li class="mat-sidenav__list-item">Бензин</li>
            <li class="mat-sidenav__list-item">Обслуживание</li>
        </ul>
        <div class="shared-buttons">
            <button *ngFor="let social of socials">
                <fa-icon [icon]="social"></fa-icon>
            </button>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-side-bar (sideNavOpen)="drawer.toggle()"></app-side-bar>
        <app-info></app-info>
        <app-slider></app-slider>
    </mat-sidenav-content>
</mat-sidenav-container>
